.home {
  width: 100%;
  height: 100%;

  .home_video {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home_contents {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    color: white;

    .home_contents_header {
      height: 72px;
      display: flex;
      align-items: center;
      // justify-content: space-between;
      background: none;
      padding: 0 32px;
      text-shadow: 0 3px 6px rgba(189, 189, 189, 0.16),
        0 1px 4px rgba(0, 0, 0, 0.23);

      .home_contents_header_title {
        flex: 8;
        font-size: 24px;
        font-weight: 600;
      }

      .home_contents_header_bgm {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        // width: 120px;
        // margin-top: 1rem;
        /* border: solid; */
      }

      .home_contents_header_signIn {
        flex: 1;
        font-size: 16px;
        // min-width: 120px;
        max-width: 100px;
        font-weight: 200;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
      }
    }

    .home_contents_body {
      height: calc(100% - 72px);
      padding: 0 120px;
      display: flex;
      flex-direction: column;

      .home_contents_body_title {
        text-overflow: ellipsis;
        width: 100%;
        font-size: 38px;
        font-weight: 600;
        margin-top: 160px;
        text-shadow: 0 3px 6px rgba(189, 189, 189, 0.16),
          0 1px 4px rgba(0, 0, 0, 0.23);
      }

      .home_contents_body_input {
        font-size: 16px;
        padding-bottom: 8px;
        margin-top: 36px;
        width: 400px;
        border: 0;
        border-bottom: 1px solid white;
        font-family: 'Noto Sans KR', sans-serif;
        outline: 0;
        background: transparent;
        color: white;
        transition: border-color 0.2s;
        &::placeholder {
          color: white;
        }
      }
      button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 120px;
        height: 40px;
        color: white;
        background: none;
        border: 1px solid white;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          background: #008f7a;
          border: none;
          transition: 0.2s linear;
        }
      }
    }
  }
}

.home_contents_incoming-text_input-family {
  /* border: solid; */
}

.home_contents_incoming-text_input::placeholder {
  color: transparent;
}

.home_contents_incoming-text_input:placeholder-shown
  ~ .home_contents_incoming-text_input_label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.home_contents_incoming-text_input_label {
  position: static;
  margin-top: -35px;
  margin-left: 120px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}

.home_contents_incoming-text_input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.home_contents_incoming-text_input:focus
  ~ .home_contents_incoming-text_input_label {
  position: static;
  margin-top: -60px;
  margin-left: 120px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
  font-weight: 700;
}

.home_contents_incoming-text_input:required,
.home_contents_incoming-text_input:invalid {
  box-shadow: none;
}

.home_contents_header-bar {
  height: 10vh;
  width: 100vw;
  /* border: solid; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
