.home_video {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.home_contents {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}

/* .home_contents_incoming-texts {
} */

.home_contents_incoming-text_title {
  position: fixed;
  top: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 3.7rem;
  font-family: 'Nunito', sans-serif;
  color: white;
}

.home_contents_incoming-text_question {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2.5rem;
  margin-top: 10rem;
  margin-left: 3rem;
  color: white;
}

.home_contents_incoming-text_input-family {
  /* border: solid; */
}

.home_contents_incoming-text_input {
  margin-top: 2.3rem;
  margin-left: 7.5rem;
  border: 0;
  border-bottom: 2px solid white;
  width: 23rem;
  height: 2rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  outline: 0;
  background: transparent;
  color: white;
  transition: border-color 0.2s;
}

.home_contents_incoming-text_input::placeholder {
  color: transparent;
}

.home_contents_incoming-text_input:placeholder-shown
  ~ .home_contents_incoming-text_input_label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.home_contents_incoming-text_input_label {
  position: static;
  margin-top: -35px;
  margin-left: 120px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}

.home_contents_incoming-text_input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.home_contents_incoming-text_input:focus
  ~ .home_contents_incoming-text_input_label {
  position: static;
  margin-top: -60px;
  margin-left: 120px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
  font-weight: 700;
}

.home_contents_incoming-text_input:required,
.home_contents_incoming-text_input:invalid {
  box-shadow: none;
}

.home_contents_header-bar {
  height: 10vh;
  width: 100vw;
  /* border: solid; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.home_contents_header-bar_home_music {
  width: 120px;
  margin-top: 1rem;
  /* border: solid; */
}

.home_contents_header-bar_home_signin {
  width: 130px;
  margin-top: 0.2rem;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: white;
  /* border: solid; */
}
