@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap");

.mypage {
  display: flex;
  margin: 0px 0px 0px 0px;
  /* border: solid red; */
  /* height: auto; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  /* background-color: whitesmoke; */
  margin-top: 2.5%;
}

.mypage_top,
.mypage_top_left,
.mypage_top_left_proflie,
.mypage_top_left_proflie_photo,
.mypage_top_left_proflie_name,
.mypage_top_left_proflie_edit {
  margin: 10px 10px 10px 10px;
}

.mypage_top_left_info,
.mypage_top_left_info_title,
.mypage_top_left_info_detail,
.mypage_top_left_info_detail_useridemail,
.mypage_top_left_info_detail_userid,
.mypage_top_left_info_detail_userid_title,
.mypage_top_left_info_detail_userid_value,
.mypage_top_left_info_detail_email,
.mypage_top_left_info_detail_email_title,
.mypage_top_left_info_detail_email_value,
.mypage_top_left_info_detail_phone,
.mypage_top_left_info_detail_phoneplan,
.mypage_top_left_info_detail_phone_title,
.mypage_top_left_info_detail_phone_value,
.mypage_top_left_info_detail_plans,
.mypage_top_left_info_detail_plans_title,
.mypage_top_left_info_detail_plans_value {
  margin: 10px 10px 10px 10px;
}

.mypage_top {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
  width: 93vw;
}

.empty {
  /* border: solid; */
  flex: 4;
  margin: 10px 10px 10px 10px;
  display: flex;
  padding: 2rem 1rem 2rem 2rem;
}

.mypage_top_left {
  flex: 3;
  display: flex;
  flex-direction: column;
  /* border: solid; */
  justify-content: space-evenly;
  padding: 2rem 2rem 2rem 1rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

.mypage_top_left_proflie {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin-bottom: 2rem;
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.mypage_top_left_proflie_name {
  font-size: 3.5rem;
  margin-right: 7.5rem;
}

.mypage_top_left_proflie_photo {
  margin: 1.5rem 1rem 1.5rem 2.5rem;
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 100px;
}

.mypage_top_left_proflie_edit {
  width: 6.5rem;
  margin: 1.5rem 2.5rem 1.5rem 0rem;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  background-color: #008f7a;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: bold;
}

.mypage_top_left_info {
  display: flex;
  flex-direction: column;
  /* border: solid; */
  flex: 3;
  justify-content: center;
}

.mypage_top_left_info_title {
  flex: 1;
  font-size: 2.3rem;
  margin: 0px 0px 0px 0px;
  padding: 1rem 1rem 0.2rem 2rem;
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: whitesmoke;
  border-radius: 10px 10px 0px 0px;
  background-color: #008f7a;
  color: whitesmoke;
  font-weight: bold;
}

.mypage_top_left_info_detail {
  display: flex;
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  flex: 6;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px 0px 0px 0px;
  font-size: 21px;
  border-radius: 0px 0px 10px 10px;
  padding: 3rem 0rem 3rem 0rem;
}

.mypage_top_left_info_detail_useridemail {
  display: flex;
  flex-direction: row;
  /* border: solid; */
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px 0px 0px 0px;
}

.mypage_top_left_info_detail_userid {
  flex: 1;
}

.mypage_top_left_info_detail_email {
  flex: 1;
}

.mypage_top_left_info_detail_phoneplan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px 0px 0px 0px;
}
.mypage_top_left_info_detail_phone {
  flex: 1;
}
.mypage_top_left_info_detail_plans {
  flex: 1;
}

.mypage_top_left_info_detail_userid_title,
.mypage_top_left_info_detail_email_title,
.mypage_top_left_info_detail_phone_title,
.mypage_top_left_info_detail_plans_title {
  font-size: 30px;
}

.mypage_bottom {
  /* border: solid green; */
  margin: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 100;
  width: 102%;
  margin-right: 3.2%;
}

.mypage_bottom_cover {
  /* border: solid blue; */
  margin: 10px 10px 20px 10px;
  flex: 2;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  background-color: #fafafa;
}

.mypage_editbar {
  background-color: #008f7a;
  /* margin: 10px 10px 0px 10px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  padding-right: 1px;
  padding-left: 1px;
  /* border: solid #008f7a; */
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.mypage_editbar_add {
  margin: 10px 10px 10px 10px;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 15px;
}

.mypage_editbar_add:focus {
  outline: none;
}

.mypage_editbar_add:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.mypage_planlist {
  flex: 10;
  margin: 0px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 11px;
}

.mypage_planlist_form {
  flex: 1;
  /* border: solid; */
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 600px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

/* mypage_top
mypage_title
mypage_searchbar
mypage_signout

mypage_middle
mypage_profile
mypage_profile_photo
mypage_profile_edit
mypage_body

mypage_bottom
mypage_editbar
mypage_editbar_add
mypage_editbar_remove
mypage_planlist */ ;
