// main contents container
#mainContainer {
  display: flex;
  height: calc(100% - 72px);
}

// left container
#leftContainer {
  flex: 3;
  min-width: 432px;
  max-width: 432px;

  // left container - lift menu tap
  #leftMenu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f4f8fa;
    list-style: none;
    height: 52px;

    // left container - lift menu tap - list
    li {
      width: 100%;
      height: 100%;
      color: #868e96;
      border-bottom: 1px solid rgb(172, 172, 172);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 1rem;

      &.restaurant {
        color: rgba(0, 0, 0, 0.87);
        font-weight: 600;
      }
      &.tourist_attraction {
        color: rgba(0, 0, 0, 0.87);
        font-weight: 600;
      }
      &.cafe {
        color: rgba(0, 0, 0, 0.87);
        font-weight: 600;
      }
    }
  }

  #leftContents {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px 10px;
    height: calc(100% - 52px);
    overflow: scroll;
  }
}

// right Container
#rightContainer {
  flex: 7;

  // right Container - my list section
  #section_myList {
    z-index: 100;
    padding: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    &.onShow {
      display: none;
    }

    // right Container - my list section - btn
    #myList_btn {
      font-family: 'Montserrat';
      width: 80px;
      height: 40px;
      background: none rgb(255, 255, 255);
      border: none;
      border-radius: 2px;
      box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
      cursor: pointer;

      // right Container - my list section - btn - list count
      #list_count {
        width: 24px;
        height: 24px;
        color: white;
        background: #008f7a;
        border-radius: 100%;
        box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16),
          0 3px 6px rgba(0, 0, 0, 0.23);
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  // right Container - map
  #map {
    width: 100%;
    height: 100%;

    &.onShow {
      display: none;
    }
  }
}
