#modalContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: 1px solid #acacac;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    display: inline;
  }
  #contentsHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
  }

  #contentsModal {
    width: 80%;
    min-width: 400px;
    margin: 20px;
    height: 80%;
    border-radius: 16px;
    background: white;
    box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px 30px;
  }
  #modalClose {
    width: 60px;
    height: 36px;
    background: none;
    border: none;
    border-radius: 8px;
    padding: 0;
    cursor: pointer;
    &:hover {
      background: #008f7a;
      color: white;
    }
  }

  #modal_title {
    display: flex;
    justify-content: space-between;
  }

  #modal_form {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    // width: 50%;
  }

  #ifif {
    flex: 3;
    width: 8rem;
    height: 100%;
  }

  #modal_info {
    border: solid;
    flex: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    font-size: 1.3rem;
  }

  #modal_name {
    font-size: 2rem;
    padding-top: 30px;
  }
  #modal_rating {
    font-size: 1.2rem;
  }

  #modal_name_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #modal_right {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    // border: solid;
    height: 500px;
  }

  #1,
  #2,
  #3 {
    margin-bottom: 1000px;
  }
}
