// mypage component local
#mypage {
  position: absolute;
  width: 100%;
  height: calc(100% - 72px);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1000;

  // left container
  #profileLeft {
    flex: 1;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;

    // left container - profile view

    // flex: 1;
    // min-width: 600px;
    // max-width: 600px;
    // padding: 30px;
    // margin-bottom: 10px;
    // border-radius: 8px;
    // box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16),
    //   0 3px 6px rgba(0, 0, 0, 0.23);
    // display: flex;
    // align-items: center;
    // background: white;

    // left container - user info
    #profileLeft_myInfo {
      flex: 4;
      max-width: 600px;
      border-radius: 8px;
      box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: white;

      // left container - user info - title bar
      #profileLeft_myInfo_titleBar {
        display: flex;
        align-items: center;
        background: #008f7a;
        border-radius: 8px 8px 0px 0px;

        #profileLeft_myInfo_titleBar_title_closeBtn {
          flex: 1;
          font-size: 2rem;
          font-weight: 300;
          text-align: center;
          color: white;
          cursor: pointer;
          transform: rotate(45deg);
        }
        #profileLeft_myInfo_titleBar_title {
          flex: 8;
          margin: 16px;
          font-size: 1rem;
          font-weight: 400;
          text-align: center;
          color: white;
        }
        #profileLeft_myInfo_titleBar_empty {
          flex: 1;
        }
      }

      // left container - user info - detail
      #profileLeft_myInfo_detail {
        flex: 6;
        padding: 30px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;

        #profileLeft_profile_userInfo {
          width: 100%;
          display: flex;
          img {
            object-fit: cover;
          }
          // left container - profile view - photo
          #profileLeft_profile_photo {
            width: 52px;
            height: 52px;
            border-radius: 100%;
            box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
          }

          // left container - profile view - name
          #profileLeft_profile_name {
            font-size: 1.4rem;
            margin-left: 16px;
          }

          // left container - profile view - edit btn
          #profileLeft_profile_editBtn {
            font-family: "Montserrat";
            height: 36px;
            margin-left: 20px;
            padding: 0 20px;
            color: white;
            background-color: #008f7a;
            border: none;
            border-radius: 8px;
            justify-self: flex-end;
            cursor: pointer;
          }
        }

        // left container - user info - detail - user id
        #profileLeft_myInfo_detail_userId {
          width: 50%;
          font-size: 1.1rem;
          #detail_title {
            height: 26px;
            font-weight: 600;
            margin-bottom: 8px;
          }
        }

        // left container - user info - detail - email
        #profileLeft_myInfo_detail_email {
          width: 50%;
          font-size: 1.1rem;
          #detail_email {
            height: 26px;
            font-weight: 600;
            margin-bottom: 8px;
          }
        }

        // left container - user info - detail - phone
        #profileLeft_myInfo_detail_phone {
          width: 50%;
          font-size: 1.1rem;
          #detail_phone {
            height: 26px;
            font-weight: 600;
            margin-bottom: 8px;
          }
        }

        // left container - user info - detail - plans
        #profileLeft_myInfo_detail_plans {
          width: 50%;
          #detail_plan {
            height: 26px;
            font-weight: 600;
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  // right container
  #profileRight_empty {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    // position: aboslute;
    // right: 0;
    // position: absolute;
    // right: 20px;
    // bottom: 20px;

    button {
      font-family: "Montserrat";
      padding: 0 20px;
      height: 36px;
      margin-left: 20px;
      color: white;
      background-color: #008f7a;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  // right container
  #profileRight {
    display: none;
    flex: 1;
    height: 100%;
    padding: 40px 40px 40px 20px;

    // right container - contents
    #profileRight_contents {
      flex: 1;
      width: 100%;
      height: 100%;
      background-color: #fafafa;
      border-radius: 8px;
      box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // right container - contents - title bar
      #profileRight_contents_titleBar {
        width: 100%;
        height: 56px;
        padding-left: 30px;
        font-size: 1.4rem;
        font-weight: 600;
        color: white;
        background-color: #008f7a;
        border-radius: 8px 8px 0px 0px;
        display: flex;
        align-items: center;
      }

      // right container - contents - plan list
      #profileRight_contents_planList {
        height: 100%;
        padding: 20px;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
