.planList {
  /* margin: 15px 15px 15px 15px; */
  width: calc(33% - 16px);
  margin: 16px 8px;
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  height: 200px;
  overflow: hidden;
}

.planList:hover {
  transform: scale(1.07);
  transition-duration: 0.3s;
}

.planList_photo {
  width: 100%;
  height: 60%;
  /* margin: 0px 10px 10px 0px; */
  /* border-radius: 10px 10px 0px 0px; */
}

.planList_inform_remove {
  display: flex;
  justify-content: space-between;
}

.planList_inform {
  margin: 0px 5px 5px 5px;
}
.planList_photo,
.planList_inform_name,
.planList_inform_inst,
.planList_inform_date {
  margin-bottom: 2px;
  font-size: 13px;
}

.planList_inform_remove_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* .planList_inform
.planList_photo
.planList_inform_name
.planList_inform_inst */
