// sign in modal component local
.signIn_modal {
  // modal container
  .signIn_modal_container {
    z-index: 110;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    // modal container - wrap
    .signIn_modal_container_wrap {
      min-width: 400px;
      background-color: white;
      box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
      border-radius: 8px;
      display: flex;
      flex-direction: column;

      // modal container - wrap - title bar
      .signIn_modal_container_wrap_titleBar {
        display: flex;
        align-items: center;
        background: #008f7a;
        border-radius: 8px 8px 0px 0px;

        // modal container - wrap - title bar - close btn
        .signIn_modal_container_wrap_titleBar_title_closeBtn {
          flex: 1;
          font-size: 2rem;
          font-weight: 300;
          text-align: center;
          color: white;
          cursor: pointer;
          transform: rotate(45deg);
        }

        // modal container - wrap - title bar - title
        .signIn_modal_container_wrap_titleBar_title {
          flex: 8;
          margin: 16px;
          font-size: 1rem;
          font-weight: 400;
          text-align: center;
          color: white;
        }

        // modal container - wrap - title bar - empty space
        .signIn_modal_container_wrap_titleBar_empty {
          flex: 1;
        }
      }

      // modal container - wrap - body
      .signIn_modal_container_wrap_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px;

        // modal container - wrap - body - id input
        .signIn_modal_container_wrap_body_idInput {
          font-family: 'Montserrat';
          width: 100%;
          height: 46px;
          border: none;
          border-bottom: 1px solid #008f7a;
          outline: none;
          font-size: 0.9rem;
        }

        // modal container - wrap - body - pw input
        .signIn_modal_container_wrap_body_pwInput {
          font-family: 'Montserrat';
          width: 100%;
          height: 46px;
          border: none;
          border-bottom: 1px solid #008f7a;
          outline: none;
          margin-top: 20px;
          font-size: 0.9rem;
        }

        // modal container - wrap - body - login btn
        .signIn_modal_container_wrap_body_loginBtn {
          width: 100%;
          height: 46px;
          border: none;
          color: white;
          background-color: #008f7a;
          margin-top: 20px;
          border-radius: 8px;
          font-size: 0.9rem;
          cursor: pointer;
        }

        // modal container - wrap - body - social section div
        .social_title {
          color: #008f7a;
          margin: 15px 0px;
        }

        // modal container - wrap - body - google
        .signIn_modal_container_wrap_body_social_google {
          width: 100%;
          height: 46px;

          // modal container - wrap - body - google - oauth
          .signIn_modal_container_wrap_body_google_oauth {
            width: 100%;
            height: 46px;
            box-shadow: none !important;
            border-radius: 8px !important;
            border: 1px solid #008f7a !important;
            outline: none !important;
            display: flex !important;
            align-items: center !important;
            opacity: 1 !important;
            cursor: pointer;

            // modal container - wrap - body - google - oauth - div
            div {
              width: 18px;
              height: 46px;
              margin-left: 10px !important;
              margin-right: 0px !important;
              padding: 0 !important;
              background: none !important;
              display: flex;
              align-items: center;
            }

            // modal container - wrap - body - google - oauth - span
            span {
              color: #008f7a;
              font-size: 0.9rem !important;
              text-align: center;
              margin: auto;
            }

            &:hover {
              opacity: 1 !important;
              outline: none !important;
            }
          }
        }

        /*   // modal container - wrap - body - naver
        .signIn_modal_container_wrap_body_social_naver {
          width: 100%;
          height: 46px;
          border-radius: 8px;
          color: #008f7a;
          border: 1px solid #008f7a;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          // modal container - wrap - body - naver - icon
          .signIn_modal_container_wrap_body_social_naver_icon {
            width: 26px;
            margin-left: 10px;
          }

          // modal container - wrap - body - naver - text
          .signIn_modal_container_wrap_body_social_naver_text {
            font-size: 0.9rem;
            text-align: center;
            margin: auto;
          }
        } */

        // modal container - wrap - body - sign up container
        .signUp_btn_Container {
          width: 100%;
          margin: 20px 0 0 0;
          display: flex;
          justify-content: center;
          align-items: center;

          // modal container - wrap - body - sign up container - btn
          .signUp_btn {
            font-family: 'Montserrat';
            color: #008f7a;
            font-size: 0.9rem;
            background: none;
            border: none;
            text-align: center;
            margin: auto;
            cursor: pointer;
          }
        }
      }
    }
  }
}
