#modalContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: 1px solid #acacac;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    display: inline;
  }
  #contentsHeader {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
  }

  #contentsModal {
    width: 80%;
    min-width: 400px;
    margin: 20px;
    height: 80%;
    border-radius: 16px;
    background: white;
    box-shadow: 0 3px 6px rgba(189, 189, 189, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px 30px;
  }
  #modalClose {
    width: 60px;
    height: 36px;
    background: none;
    border: none;
    border-radius: 8px;
    padding: 0;
    cursor: pointer;
    &:hover {
      background: #008f7a;
      color: white;
    }
  }
}
